---
import * as CONTENT from "./content"
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | {CONTENT.name}</title>
	</head>
	<body class="bg-background text-text flex flex-col min-h-screen">

		<Header />

		<!-- Bar Effect -->
		<article class="mx-auto h-fit max-w-3xl w-[95vw] flex flex-nowrap bg-slate-400">
				<div class="bg-slate-900 hover:scale-x-[2] w-full h-1.5" id="one"></div>
				<div class="bg-red-900 hover:scale-x-[2] w-full h-1.5" id="two"></div>
				<div class="bg-blue-900 hover:scale-x-[2] w-full h-1.5" id="three"></div>
		</article>

		<main class="mx-auto flex-grow max-h-[90vh] md:max-h-[70vh] max-w-3xl overflow-y-scroll grid gap-5 p-5 w-[95vw]">
			<Container />
		</main>

		<Footer />
	</body>
</html>


<style is:global>
	*{
		transition: 350ms ease-in-out;
		font-family: 'Manrope', sans-serif;
	}

	@media only screen and (max-width: 480px){
		*{
			font-size: 12px;
		}
	}

	 /* For webkit-based browsers */
	.overflow-y-scroll::-webkit-scrollbar {
		width: 3px;
	}

	.overflow-y-scroll::-webkit-scrollbar-thumb {
		background-color:#50595e;
	}

	/* For Firefox */
	.overflow-y-scroll {
		scrollbar-width: 1px;
	}
</style>