<footer class="bg-background/5 flex justify-between items-center px-2 py-1">
    <p>© 2023 Peter Griffin</p>

    <p>
        <a href="https://github.com/uskhokhar/astro-vitae" target="_blank" class="underline underline-offset-2 hover:no-underline">
            Astro-Vitae Template
        </a>
        developed by 
        <a href="https://uskhokhar.me" target="_blank" class="underline underline-offset-2 hover:no-underline">
            U.S.Khokhar 🤓
        </a>
    </p>
</footer>

<style>
    p{
        @apply text-sm text-text/50;
    }

    a {
        @apply underline hover:text-text/80;
    }
</style>